/*******
COLOR CHEAT SHEET
https://coolors.co/003049-be2323-f77f00-fcb322-eae2b7
003049 - Space Blue
be2323 - Brick Red
f77f00 - Orange
ffaa01 - Gold
eae2b7 - Vanilla
fcb322 - Different Gold



*****/



/************************/
/******** FONTS *********/
/************************/
body, p, div {
    font-family: "Lexend Deca", sans-serif;
}

h1,  h2, h3, h4, h5, h6 {
    font-family: "Sigmar", sans-serif;
}

/************************/
/******** HERO *********/
/************************/

header.masthead {
    background:url("https://wallpapercave.com/wp/wp1811999.jpg");
    background-size: cover;
}

.masthead h1 {
    color: #f77f00;
    text-shadow: 2px 2px 5px black;
    font-size: 74px !important;
}

.masthead p {
    color: #ffaa01 ;
    font-weight: 800;
    font-size: 25px !important;
    text-shadow: 2px 2px 5px black;
}

/************************/
/******** PORTFOLIO *********/
/************************/

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    background: #002f49a9;
}


/************************/
/******** COLORS *********/
/************************/

.text-primary{
    color: #be2323 !important;

}

.bg-primary {
    background-color: #003049 !important;
}

.bg-dark{
    background-color: #eae2b7  !important;
}

hr.divider {
    background-color: #fcb322 !important;
}

.btn-primary {
    background-color: #fcb322 !important;
}
.btn-primary:hover {
    background-color: #ac7c1b !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fcb322 !important;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #fcb322;
}